@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

*{
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  //background: #f1f5f6;
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  //font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
ul{
  list-style: none;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.white{
  color: #fff;
}
.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
  vertical-align: top;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}


//table表格清除默认样式
table{width:100%;text-align:center;border-collapse:collapse;border-spacing:1;border-spacing:0; }


table td{word-break: break-all; word-wrap:break-word;border-right:none; border-bottom:1px solid #939598;font:500 14px Arial}


.el-collapse-item__header{
  text-align: left;
  background: $blue;
  color: #fff;
  padding-left: 30px;
}
.el-collapse-item__content{
  padding-top: 20px;
}


  $bg:#283443;
  $light_gray:#222;
  $cursor: #222;
    @supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
      .login-container .el-input input{
        color: $cursor;
        &::first-line {
          color: $light_gray;
        }
      }
    }

/* 修复input 背景不协调 和光标变色 */
/* reset element-ui css */
.login-container {
  .el-form-item__content{
    text-align: left;
    height: 34px;
  }
  .customize-input {
    input {
      background: transparent;
      //border: 0;
      //border-radius: 0px;
      height: 34px;

      border: 1px solid #cfcfcf;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;

      -webkit-appearance: none;
      padding: 12px 5px 12px 52px;
      color: $light_gray;
      caret-color: $cursor;
    }

  }
  .el-form-item {
    //border: 1px solid #cfcfcf;
    //-webkit-border-radius: 10px;
    //-moz-border-radius: 10px;
    //border-radius: 10px;
  }
}



.card-list{
  //padding-left: 20px;
  li{
    width: 500px;
    float: left;
    height: 420px;
    border: 1px solid #3e8ae5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    .header{
      width: 100%;
      height: 100px;
      background: #deedff;
      text-align: center;
      line-height: 100px;
      font-size: 22px;
      color: #333;
      font-weight: 600;
    }
    img{
      margin-top: 58px;
    }
    p{
      color: #3e8ae5;
      font-size: 34px;
      font-weight: bold;
      margin: 30px 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
//form表单宽度为120px
.form-min-width{

  .el-form-item__content{
    width: 120px;
  }
}
